{% extends "page.twig" %} {% block bodyClasses %}page events-page{% endblock %} {% block pageContent %}
<div class="page-content">{{ page.content }}</div>
<ol class="events-list">
  {% for event in events %}
  <li class="event">
    <a class="info" href="{{ event.link }}">
      <h3 class="title">{{ event.title }}</h3>
      <div class="details">
        {% if event.get_field('event_type') == 'rally' %}
        <span class="event-type rally">Rally</span>
        {% endif %}
        {% if event.get_field('event_type') == 'race' %}
        <span class="event-type race">Race</span>
        {% endif %}
        {% if event.get_field('event_type') == 'group_ride' %}
        <span class="event-type group_ride">Group Ride</span>
        {% endif %}
        <time>{{ event.event_date|date('F j, Y')}}</time>
      </div>
      <div class="summary">{{ event.get_field('event_summary') }}</div>
    </a>
    <div class="images">
      {% for photo_id in event.event_photos|slice(0,2) %}
      {% set photo = TimberImage(photo_id) %}
      <div class="image">
        <img src="{{ photo.src('events-thumb') }}" alt="{{ photo.caption }}" />
      </div>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ol>
{% endblock %}
