{% extends "page.twig" %} {% block bodyClasses %}page events-page{% endblock %} {% block pageContent %}
<div class="page-content">{{ page.content }}</div>
<ol class="events-list">
  {% for event in events %}
  <li class="event">
    <a class="info" href="{{ event.link }}">
      <h3 class="title">{{ event.title }}</h3>
      <div class="details">
        <span class="event-type rally">Rally</span>
        <time>{{ event.event_date|date('F j, Y')}}</time>
      </div>
      <div class="summary">{{ event.get_field('event_summary') }}</div>
    </a>
    <div class="images">
      <div class="image">
        <img src="//fpoimg.com/210x210" alt="FPO" />
      </div>
      <div class="image">
        <img src="//fpoimg.com/210x210" alt="FPO" />
      </div>
    </div>
    {#
    <a href="https://maps.google.com/maps/place/{{ event.event_location|url_encode }}">{{ event.event_location }}</a> #}
  </li>
  {% endfor %}
</ol>
{% endblock %}
