{% extends "page.twig" %} {% block bodyClasses %}page events-page{% endblock %} {% block pageContent %}
<div class="page-content">{{ page.content }}</div>
<ol>
  {% for event in events %}
  <li class="event">
    <h3>{{ event.title }}</h3>
    <time>{{ event.event_date|date('F j, Y \\a\\t g:ia')}}</time> &ndash;
    <a href="https://maps.google.com/maps/place/{{ event.event_location|url_encode }}">{{ event.event_location }}</a>
    <div class="content">{{ event.content }}</div>
    <div class="map">{{ event.event_map_embed }}</div>
    <div class="photos">
      <ul class="photo-gallery">
      {% for photo_id in event.event_photos %}
        {% set photo = TimberImage(photo_id) %}

        <li class="photo">
          <figure>
            <img src="{{ photo.src }}"/>
            <caption>{{ photo.caption }}</caption>
          </figure>

        </li>
      {% endfor %}
      </ul>
    </div>
    <script>console.log(JSON.parse('{{ event|json_encode|escape("js") }}'));</script>
  </li>
  {% endfor %}
</ol>
{% endblock %}
