{% extends "layouts/_base.twig" %}

{% block bodyClasses %}home{% endblock %}
{% block content %}
  <div class="home-blocks">
    {% for block in page.blocks %}
      <section class="home-block {{ block.color }} image-{{ block.image_on }}">
        {% if block.image_on == 'left' %}
        <div class="image">
          <img src="{{ block.image.url }}" alt="{{ block.image.alt }}">
        </div>
        {% endif %}
        <div class="content">
          <h2>{{ block.title }}</h2>
          {{ block.text }}
          <p>
            <a class="btn" href="{{ function('get_permalink', block.link_to.ID) }}">{{ block.link_text }}</a>
          </p>
        </div>
        {% if block.image_on == 'right' %}
        <div class="image">
          <img src="{{ block.image.url }}" alt="{{ block.image.alt }}">
        </div>
        {% endif %}
      </section>
    {% endfor %}
  </div>
{% endblock %}
