{% extends "layouts/_base.twig" %}

{% block bodyClasses %}home{% endblock %}
{% block content %}
  <div class="home-blocks">
    <section class="home-block blue image-left">
      <div class="image">
        <img src="{{ page.block_1_image.src }}" alt="Three Team Bicycles Inc riders at a bike rally">
      </div>
      <div class="content">
        <h2>{{ page.block_1_title }}</h2>
        <p>{{ page.block_1_text }}</p>
        <p><a class="btn" href="">{{ page.block_1_link_text }}</a></p>
      </div>
    </section>
    <section class="home-block red">
      <div class="content">
        <h2>Our History</h2>
        <p>Team Bicycles Inc has gone by several names and seen many faces over the years. Learn more about our club’s history!</p>
        <p><a class="btn" href="/about-us/">Learn about our team</a></p>
      </div>
      <div class="image">
        <img src="{{ site.theme.uri }}/img/vintage-riders.jpg" alt="Team Bicycles Inc racer on a podium">
      </div>
    </section>
    <section class="home-block gray image-left">
      <div class="image">
        <img src="{{ site.theme.uri }}/img/wnc-podium.jpg" alt="Team Bicycles Inc racer on a podium">
      </div>
      <div class="content">
        <h2>Races <small>&amp;</small> Events</h2>
        <p>Members of Team Bicycles Inc participate in many events throughout the year, from competitive races to casual social rides.</p>
        <p><a class="btn" href="">Join us at an event</a></p>
      </div>
    </section>
  </div>
{% endblock %}
