<footer class="site-footer">
  <section class="sponsors">
    <h3>Our Sponsors</h3>
    <ul>
      <li>
        <a href="http://bicyclesinc.com/" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/bicyclesinc.png" alt="Bicycles Inc. Logo">
        </a>
      </li>
      <li>
        <a href="http://theracingpost.us/" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/theracingpost.png" alt="The Racing Post Logo">
        </a>
      </li>
      <li>
        <a href="https://www.specialized.com/us/en" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/specialized.png" alt="Specialized Logo">
        </a>
      </li>
      <li>
        <a href="http://www.clifbar.com/" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/clif.png" alt="Clif Bar & Company Logo">
        </a>
      </li>
      <li>
        <a href="http://www.roadid.com/?referrer=7029" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/roadid.png" alt="RoadID Logo">
        </a>
      </li>
    </ul>
  </section>
  <section class="platforms">
    <h3>On social media</h3>
    <ul>
      <li><a href="https://www.facebook.com/Team-Bicycles-Inc-171200292920612/" target="_blank">Facebook</a></li>
      <li><a href="https://www.strava.com/clubs/team-bicycles-inc" target="_blank">Strava</a></li>
    </ul>
  </section>
  <section class="copyright">&copy; {{ "now"|date("Y") }} Team Bicycles Inc.</section>
</footer>
