<header class="site-header">
  <div class="logo">
    <a href="{{ site.home }}">
      <img src="{{ site.theme.uri }}/img/tbi-logo-small.png" alt="Team Bicycles Inc Logo" width="160">
    </a>
  </div>
  <div class="nav">
    <ul>
      {%- for item in nav.get_items -%}
        {%- set navClasses = '' -%}
        {%- if item.slug == 'join' -%}
          {%- set navClasses = 'attention' -%}
        {%- else -%}
          {%- if item.current -%}
            {%- set navClasses = 'active' -%}
          {%- endif -%}
        {%- endif -%}
        <li{% if navClasses %} class="{{ navClasses }}"{% endif %}>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</header>
